#c {
	margin: 0px 10px;
}

.top-sep {
	margin: 4px 0px;
}

.content {
    margin: 10px auto;
}

.footer {
    background: #fff;
    color: #aaa;
    padding: 10px 0px 10px 260px;
    padding-right: 44px;
    font-size: 80%;
    border-top: 1px solid #B7B7B7;
}

.footer > div {
    display: inline-block;
}
.footer .cy {
    float: left;
    margin-left: -260px;
    width: 260px;
    padding-left: 4em;
}

.footer .powerby {
    float: right;
    text-align: right;
}

.vf-table {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
}

.vf-table th {
    font-weight: bold;
    background-color: #ccc;
}

.vf-table th, .vf-table td {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 3px 10px;
}

/*.vf-table th, .vf-table td {
    border: none;
}

.vf-table th + th, .vf-table td + td {
    border-left: 1px solid #eee;
}*/

