{% extends "admin_base.html" %}

{% block title %}Category - Admin - Vika's Blog{% endblock %}

{% block page_content %}
<div>
  <div>
    <table class="vf-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Label</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
           {% for c in category_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.label }}</td>
                <td>
                    <a href="{{ uri_for('admin-category') }}?cid={{ c.key().id() }}">Edit</a>
                    <a href="{{ uri_for('admin-category') }}?action=delete&cid={{ c.key().id() }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <button id="addNew">Add</button>
  </div>
</div>
<div id="panelContent">
  <div class="yui3-widget-bd">
    <form id="category-form" action="{{ uri_for('admin-category') }}?action=edit" method="POST">
        <fieldset>
            <legend>New Category</legend>
        
            <input type="hidden" id="inp_cid" name="cid" value="{% if category %}{{ category.key().id() }}{% endif %}"/>
        <p>
            <label for="inp_name">Name: </label>
            <input type="text" id="inp_name" name="name" value="{{ category.name }}" placeholer="name" />
        </p>
        <p>
            <label for="inp_label">Label: </label>
            <input type="text" id="inp_label" name="label" value="{{ category.label }}" placeholer="label" />
        </p>
            <!-- button id="btn-save" type="submit">Save</button -->
        </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ uri_for_static('/static/js/main.js') }}"></script>
<script type="text/javascript">
YUI().use('panel', 'dd-plugin', function(Y){
    var addNewButton = Y.one('#addNew'),
        saveButton = Y.one('#btn-save'),
        categoryForm = Y.one('#category-form'),
        panel;

    function addCategory() {
        panel.hide();
        categoryForm.submit();
    }

    panel = new Y.Panel({
        srcNode : '#panelContent',
        headerContent: 'Add new Category',
        width: 300,
        zIndex: 5,
        centered: true,
        modal: true,
        visible: false,
        render: true,
        plugins: [Y.Plugin.Drag]
    });
    panel.addButton({
        value: 'Save',
        section: Y.WidgetStdMod.FOOTER,
        action: function(e) {
            e.preventDefault();
            addCategory();
        }
    });

    addNewButton.on('click', function(e) {
        panel.show();
    });

});
</script>
{% endblock %}