{% extends "admin_base.html" %}

{% block title %}Post List - Admin - Vika's Blog{% endblock %}

{% block page_content %}
    <table class="vf-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Updated Date</th>
                <th>Category</th>
                <th>Published</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
           {% for post in post_list %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ uri_for('post', post_id=post.get_id()) }}" target="_blank">{{ post.title }}</a></td>
                <td>{{ post.get_updated_date_str() }}</td>
                <td>{% if post.category %}{{ post.category.name}}{% endif %}</td>
                <td>{{ post.published }}</td>
                <td>
                    <a href="{{ uri_for('admin-post') }}?id={{ post.get_id() }}">Edit</a>
                    <a href="{{ uri_for('admin-post-delete') }}?id={{ post.get_id() }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if pager %}
    <div><span>Page:</span>
        <select id="pager-select">
            {% for i in range(1, pager.total_pages + 1)%}
            <option value="{{ i }}" {% if pager.current_page == i %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
        <button id="pager-button">Go</button>
    </div>
    {% endif %}
{% endblock %}

{% block js %}
<script src="{{ uri_for_static('/static/js/main.js') }}"></script>
<script src="{{ uri_for_static('/static/js/pager.js') }}"></script>
{% endblock %}