{% extends "base.html" %}

{% block title %}Post List - Admin - Blog{% endblock %}

{% block content %}
<div class="pure-g content-ribbon">
    <div class="pure-u-1-6">
        <div class="pure-menu pure-menu-open">
            <ul>
                <li><a href="{{ uri_for('admin-post') }}">New Post</a></li>
                <li><a href="{{ uri_for('admin-post-list') }}">Post</a></li>
                <li><a href="{{ uri_for('admin-category') }}">Category</a></li>
                <li><a href="{{ uri_for('admin-user') }}">User</a></li>
                <li><a href="{{ uri_for('admin-file') }}">Uploaded File</a></li>
            </ul>
        </div>
    </div>

  <div class="pure-u-5-6">
  {% block page_content %}Admin Page{% endblock %}
  </div>
</div>

{% endblock %}
