<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Index{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.11.0/build/cssnormalize/cssnormalize-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.11.0/build/cssgrids/cssgrids-min.css">
    <link rel="stylesheet" type="text/css" href="{{ uri_for_static('/static/css/main.css') }}" />
    {% endblock %}
  </head>
  <body class="yui3-skin-sam">
    <div id="c">
        <div class="header">
          <div>
            <h1>Vika's Blog</h1>
          </div>
        <div id="blognav" class="yui3-menu yui3-menu-horizontal">
          <div class="yui3-menu-content">
            <ul>
              <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="{{ uri_for('home') }}">Home</a></li>
              <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="{{ uri_for('page', page='about') }}">About</a></li>
            </ul>
          </div>
        </div>
        </div>
        <!-- div class="splash yui3-u-1"></div -->
        <div class="top-sep"></div>
        <div class="content">
          {% block content %} welcome to my blog {% endblock %}
        </div>

        <div class="footer">
          {% block footer %}
          <div class="cy">&copy;2013 vika</div>
          <div class="powerby"><img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></div>
          {% endblock %}
        </div>
    <div>
    <script src="http://yui.yahooapis.com/3.11.0/build/yui/yui-min.js"></script>
    {% block js %} {% endblock %}
  </body>
</html>
