{% extends "base.html" %}

{% block title %}Post List - Admin - Blog{% endblock %}

{% block head %}
   {{ super() }}
   <link rel="stylesheet" href="{{ uri_for_static('/static/css/prettify.css') }}" />
{% endblock %}


{% block content %}
          <div class="yui3-g">
              <div class="yui3-u-2-3">
              {% if post_list %}
              {% for post in post_list %}
                  {% include "partial_post.html" %}
              {% endfor %}
              {% else %}
                  <div class="message">No Post Found</div>
              {% endif %}
              </div>
              <div class="yui3-u-1-3">
                  <div class="sidebar">
                  {% include "sb_category.html" %}
                  </div>
              </div>
          </div>
{% endblock %}

{% block js %}
<script src="{{ uri_for_static('/static/js/prettify.js') }}"></script>
<script src="{{ uri_for_static('/static/js/main.js') }}"></script>
{% endblock %}
