{% extends "base.html" %}

{% block title %}{{ title | capitalize }} - Vika's Blog{% endblock %}

{% block head %}
   {{ super() }}
   <link rel="stylesheet" href="{{ uri_for_static('/static/css/prettify.css') }}" />
{% endblock %}


{% block content %}
          <div class="yui3-g">
              <div class="yui3-u col-left">
              {% if post_list %}
              {% for post in post_list %}
                  {% include "partial_post.html" %}
              {% endfor %}
              {% if pager %}
              {% set p = pager.get_prev_page() %}
              {% set n = pager.get_next_page() %}
              <div>
                {% if p %}<a href="javascript:changePage({{p}})">Prev Page</a>{% else %}<span>Prev Page</span>{% endif %} |
                {% if n %}<a href="javascript:changePage({{n}})">Next Page</a>{% else %}<span>Next Page</span>{% endif %}
              </div>
              {% endif %}
              {% else %}
                  <div class="message">No Post Found</div>
              {% endif %}
              </div>
              <div class="yui3-u col-right">
                  <aside class="sidebar">
                  {% include "sb_category.html" %}
                  </aside>
              </div>
          </div>
{% endblock %}

{% block js %}
<script src="{{ uri_for_static('/static/js/prettify.js') }}"></script>
<script src="{{ uri_for_static('/static/js/main.js') }}"></script>
{% endblock %}
